*Rxvt.iconFile: 	/usr/share/icons/Adwaita/32x32/apps/utilities-terminal.png
o*Rxvt*internalBorder:	8

!*background: #000000
!*foreground: #ffffff

xosview*background:	#1a1a1a
xosview*font:		-*-terminus-medium*-*-*-*-13-*-*-*-*-*-*-*
xosview*memGraph: 	True
xosview*usedlabels: 	True

*font: -windows-proggyclean-medium-r-normal--13-80-96-96-c-70-iso8859-1

!*letterSpace: -1

*Rxvt*background:       #000000
*Rxvt*foreground:       #ffffff
*Rxvt*scrollBar:        false
*Rxvt*secondaryscroll:  true
*Rxvt*matcher.button:   1
*Rxvt*colorBD:          #268bd2
*Rxvt*colorUL:          #859900
*Rxvt*cursorBlink:      false


URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 5


*Rxvt*allow_bold:       false

Xft*dpi:                96
Xft*antialias:          true
Xft*hinting:            none
Xft.autohint:           0
Xft.antialias:          1
Xft.hinting:            true
Xft.hintstyle:          hintfull
Xft.dpi:                96
Xft.rgba:               rgb
Xft.lcdfilter:          lcddefault

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/iceweasel
URxvt.matcher.button: 1

*Rxvt*dynamicColors:    on
*Rxvt*depth:            24

*Rxvt*mapAlert:         true
*Rxvt*visualBell:       true
*Rxvt*URgentOnBell:     true

#include </home/jaro/xcolors/xcolor_code/hodge>
