URxvt*font: xft:Dejavu Sans Mono:pixelsize=10:antialias=true
letterSpace: -1
URxvt*allowBoldFonts: true

Xft*dpi:                96
Xft*antialias:          true
Xft*hinting:            none
Xft.autohint:           0
Xft.antialias:          1
Xft.hinting:            true
Xft.hintstyle:          hintfull
Xft.dpi:                96
Xft.rgba:               rgb
Xft.lcdfilter:          lcddefault

*scrollBar:		false
*internalBorder:	8
*externalBorder:	6

URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7

URxvt.depth: 32
URxvt.background: [95]#000000

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/local/bin/firefox
URxvt.matcher.button: 1

! special
*.foreground:   #bd9b85
*.background:   #1a1a1a
*.cursorColor:  #bd9b85

! black
*.color0:       #2e2922
*.color8:       #a3855d

! red
*.color1:       #453a2f
*.color9:       #a79279

! green
*.color2:       #534739
*.color10:      #ac9a86

! yellow
*.color3:       #6b6051
*.color11:      #b0a394

! blue
*.color4:       #7e8171
*.color12:      #b9a691

! magenta
*.color5:       #8a7762
*.color13:      #c6b3a2

! cyan
*.color6:       #8a5c3a
*.color14:      #cd9f69

! white
*.color7:       #988772
*.color15:      #d4c7bc
