!DejaVu Sans
!URxvt*font: xft:Dejavu Sans Mono:pixelsize=10:antialias=true

!Tewi
URxvt.font: -lucy-tewi-medium-r-normal--11-90-75-75-m-60-iso10646-1
URxvt.boldFont: -lucy-tewi-bold-r-normal--11-90-75-75-m-60-iso10646-1

!Fira Sans Mono
!URxvt.font: xft:Fira Mono:style=Medium:pixelsize=10:antialias=true
!URxvt.boldFont: xft:Fira Sans Mono Medium:pixelsize=10:antialias=true

!Open Sans
!URxvt.font: xft:Open Sans:pixelsize=12:antialias=true
!Urxvt.boldFont: xft:Open Sans:pixelsize=12:antialias=true

!*letterSpace: -1
URxvt*allowBoldFonts: false

Xft*dpi:                96
Xft*antialias:          true
Xft*hinting:            none
Xft.autohint:           0
Xft.antialias:          1
Xft.hinting:            true
Xft.hintstyle:          hintfull
Xft.dpi:                96
Xft.rgba:               rgb
Xft.lcdfilter:          lcddefault

*scrollBar:		false
*internalBorder:	8
*externalBorder:	6

URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7

!URxvt.depth: 32
!URxvt.background: [95]#000000

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/local/bin/firefox
URxvt.matcher.button: 1

! dkeg 2014
! coco 

*background: #0a0909
*foreground: #abacae
!*cursorColor: #8c2a1f
*cursorColor: #35312f

*color0: #332d29
*color1: #7c423a
*color2: #8d7138
*color3: #856237
*color4: #3c3c49
*color5: #3c342e
*color6: #5d5a4b
*color7: #d6c7b8
*color8: #332d29
*color9: #7c423a
*color10: #8d7138
*color11: #856237
*color12: #3c3c49
*color13: #3c342e
*color14: #5d5a4b
*color15: #d6c7b8
